<div class="container">

  <%= render "shared/search" %>

  <h2>Latest post</h2>
    <div>
      <%= link_to @posts.last.name, post_path(@post) %>
      <%= @posts.last.body %>
      <%= @posts.last.tags.map{|t| t.tag}.join(", ") %>
    </div>

  <h2>Past posts</h2>
    <% @posts.order(created_at: :desc)[1..-1].each do |post| %>
        <div>
          <%= link_to post.name, post_path(post) %>
          <%= post.body %>
          <%= post.tags.map{|t| t.tag}.join(", ") %>
        </div>
    <% end %>
</div>
