<h1>Create a new blog post</h1>

<div class="form-container">
  <%= form_for(@post) do |f| %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <div>
    <%= f.label :body %>
    <%= f.text_area :body, cols: 20, rows: 40, class: "" %>g
    <%= render "shared/tags" %>
    </div>
    <%= f.submit class: "button" %>
  <% end %>
</div>
