<h1>Create a new blog post</h1>
<div class="form-container">
  <%= form_with model: @post do |f| %>
    <%= f.label :name, "Post title:" %>
    <%= f.text_field :name %>
    <div>
      <%= f.text_area :body, size: "150x30" %>
    </div>
    <%= f.submit "Create post" %>
  <% end %>

</div>
